{% extends 'base.html' %}

{% block headcontent %}
<!--Stylesheet-->
<!--DESIGNED BY "FOOLISH DEVELOPER" at https://freefrontend.com/css-login-forms/ and foolishdeveloper.com -->
<style media="screen">
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #080710;
    background-image: url("https://images.alphacoders.com/265/thumb-1920-265693.png");
  }

  form {
    height: 290px;
    width: 400px;
    background-color: rgba(255,255,255,0.19);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50.5%;
    left: 20%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
  }

  #form2 {
    height: 470px;
    width: 400px;
    background-color: rgba(255,255,255,0.19);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 80%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    overflow-y: auto;
  }

  #form3 {
    height: 400px;
    width: 1265px;
    background-color: rgba(255,255,255,0.19);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 115%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    overflow-y: auto;
  }

  form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-top: -30px;
  }

  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }

  ::placeholder {
    color: #e5e5e5;
  }

  button {
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

  .bottom {
    margin-top: 30px;
    display: flex;
  }

  .bottom div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }

  .bottom div:hover {
    background-color: rgba(255,255,255,0.47);
    cursor: pointer;
  }

  .bottom .reg {
    margin-right: 25px;
  }

  img {
    height: 475px;
    scale: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 16px;
  }

  h1 {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 7.5%;
    left: 50%;
    color: white;
  }

  #logout {
      margin-top: 20px;
      margin-right: -70px;
      width: 20%;
      background-color: #ffffff;
      color: #080710;
      padding: 10px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      float: right;
  }

  #addToDeck {
      margin-top: 532px;
      width: 350px;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      margin-left: -50px;
  }

  #addDeckButton {
    height: 30px;
    width: 30px;
    margin-left: -345px;
    margin-top: -301px;
  }

  #addDeckButton:hover{
    cursor: pointer;
  }

  #decklist {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0;
  }

  #pDecklist {
    margin: 0 10px;
  }

  #pDecklist:hover {
    cursor: pointer;
  }

  #expenses {
    margin-left: 575px;
    margin-top: 440px;
    margin-bottom: 40px;
  }

  #expenses button {
    height: 68px;
  }

  #manaCurve {
    margin-right: 575px;
    margin-top: -119px;
    margin-bottom: 35px;
  }

  #manaCurve button {
    height: 68px;
  }

  #recommended1 {
    height: 300px;
    margin-top: 22px;
    left: 14%;
  }

  #recommended2 {
    height: 300px;
    margin-top: 22px;
    left: 32%;
  }

  #recommended3 {
    height: 300px;
    margin-top: 22px;
    left: 50%;
  }

  #recommended4 {
    height: 300px;
    margin-top: 22px;
    left: 68%;
  }

  #recommended5 {
    height: 300px;
    margin-top: 22px;
    left: 86%;
  }

  #selectDeck {
    position:absolute;
    top:0;
    left:0;
    margin-top: 40px;
    margin-left: 110px;
    height: 155px;
    width: 350px;
    overflow-y: auto;
    color: white;
  }

</style>
{% endblock %}

{% block content %}

<!--GLASSMORPHISM DESIGNED BY "FOOLISH DEVELOPER" at https://freefrontend.com/css-login-forms/ and foolishdeveloper.com -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


<h1>{{ user.username }}'s Dashboard</h1>
<button id="logout" onclick="location.href='/logout';">Log Out</button>

<form method="POST">
  <h3>Search</h3>
  <h5>Search & preview any magic card</h5>
  {{ form.hidden_tag() }} <!-- add type=hidden form fields -->
  {{ form.csrf_token }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>

      <label>{{ field.label }}</label>
      {{ field }}

      {% for err in field.errors %}
        {{ err }}
      {% endfor %}

    </p>
  {% endfor %}
  <button>Search</button>

</form>

<button id="addToDeck" onclick="location.href='/addingcard/{{user.username}}';">Add to Deck ({{ deckName }})</button>


<img src={{pic}} />

<div id="selectDeck">

    <h3>Please Select Your Deck</h3>
    {% for deck in usersDecks %}
      <div onclick="location.href='/setDeck/{{deck.name}}';">
        <button>{{deck.name}}</button>
      </div>
    {% endfor %}

</div>

<img
  id="addDeckButton"
  onclick="location.href='/addDeck';"
  src="https://www.clipartmax.com/png/small/79-791760_plus-addition-sign-circle-vector-1-icon-png.png"
/>


<form id="form2" method="POST">
  <h3>Decklist for {{ deckName }}</h3>
  {{ form.hidden_tag() }} <!-- add type=hidden form fields -->
  {{ form.csrf_token }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  {% endfor %}


  <ul>
    {% for card in deckCards %}
      <div id="decklist">
        <li onclick="location.href='/previewOnly/{{ card.name }}';">{{ card.name }}</li>
        <p onclick="location.href='/removingcard/{{ card.name }}';" id="pDecklist">✕</p>
      </div>
    {% endfor %}
  </ul>
</form>

<form id="form3" method="POST">
  <h3>Recommended Cards</h3>

  <img id="recommended1" src={{rec1}} />
  <img id="recommended2" src={{rec2}} />
  <img id="recommended3" src={{rec3}} />
  <img id="recommended4" src={{rec4}} />
  <img id="recommended5" src={{rec5}} />
</form>

<div id="expenses" onclick="location.href='/expenseChart';">
  <button>
    Expenses
  </button>
</div>

<div id="manaCurve" onclick="location.href='/manaCurveChart';">
  <button>
    Mana Curve
  </button>
</div>




{% endblock %}
